@import '~assets/stylesheets/common';

.bio {
  @include ba-grid-collapse;
  float: left;
  margin-bottom: rem(60px);

  @include grid-media($grid-m) {
    margin-bottom: rem(105px);
  }

  @include grid-media($grid-l) {
    margin-bottom: rem(185px);
  }
}

.bioText {
  @include type-home-bio;
  @include grid-column(6);

  @include grid-media($grid-m) {
    @include grid-column(6);
  }

  @include grid-media($grid-l) {
    @include grid-column(5);
    @include grid-push(1);
    position: relative;
    left: rem(-40px);
  }
}