@import '~assets/stylesheets/common';

.bio {
  @include ba-grid-collapse;
  float: left;
  margin-bottom: rem(60px);
  position: relative;

  @include grid-media($grid-m) {
    margin-bottom: rem(105px);
  }

  @include grid-media($grid-l) {
    margin-bottom: rem(185px);
  }
}

.bioText {
  @include type-home-bio;
  @include grid-column(6);

  @include grid-media($grid-m) {
    @include grid-column(6);
  }

  @include grid-media($grid-l) {
    @include grid-column(5);
    @include grid-push(1);
    position: relative;
    left: rem(-40px);
  }

  p {
    margin-bottom: 0;
  }
}

.arrow {
  @include grid-column(6);
  display: block;
  width: rem(12px);
  margin-top: rem(30px);

  @include grid-media($grid-m) {
    @include grid-column(6);
    width: rem(16px);
  }

  @include grid-media($grid-l) {
    position: absolute;
    top: rem(40px);
    left: rem(70px);
    margin-top: rem(12px);
  }
}