@import '~assets/stylesheets/common';

.container {
  display: flex;
  padding: rem(0 30px 30px);
  justify-content: space-between;
  align-items: center;

  @include grid-media($grid-m) {
    padding: rem(0 40px 55px);
  }

  @include grid-media($grid-l) {
    padding: rem(0 60px 80px);
  }

  &.black {
    color: $white;
  }
}

.link {
  @include type-global-links;

  .black & {
    color: $white;
  }
}

.copyright {
  @include type-copyright;
  display: flex;
  align-items: center;

  .black & {
    color: $white;
  }
}

.infinity {
  width: rem(22px);
  margin-left: rem(8px);

  @include grid-media($grid-m) {
    width: rem(41px);
  }
}