@import '~assets/stylesheets/common';

.container {
  @include ba-grid-container;
}

.featured {
  @include ba-grid-collapse;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  float: left;
  justify-content: space-between;
  align-items: center;
  padding: 0 #{$gutter-mobile};

  @include grid-media($grid-m) {
    padding: 0;
  }
}
