@import '~assets/stylesheets/common';
@import '~assets/stylesheets/normalize';
@import '~assets/stylesheets/fonts';

* {
  box-sizing: border-box;
}

body {
  font-family: 'FGrotesk', serif;
  color: $black;
}

a {
  text-decoration: none;
  color: $black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

picture {
  display: block;

  img {
    width: 100%;
  }
}

ul,
li {
  list-style: none;
}

video {
  width: 100%;
}