@import '~assets/stylesheets/common';

.container {
  padding: rem(40px 30px);
  display: flex;
  justify-content: space-between;

  @include grid-media($grid-m) {
    padding: rem(65px 40px);
  }

  @include grid-media($grid-l) {
    padding: rem(65px 60px);
  }

  &.black {
    color: $white;
  }
}

.name {
  @include type-nav-name;

  .black & {
    color: $white;
  }
}

.index {
  @include type-global-links;
  cursor: pointer;

  .black & {
    color: $white;
  }
}