@font-face {
  font-family: 'FGrotesk';
  src: url('assets/fonts/FGroteskBook.eot');
  src:
    url('assets/fonts/FGroteskBook.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/FGroteskBook.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FGrotesk';
  src: url('assets/fonts/FGroteskDemi.eot');
  src:
    url('assets/fonts/FGroteskDemi.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/FGroteskDemi.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'FGrotesk';
  src: url('assets/fonts/FGroteskThin.eot');
  src:
    url('assets/fonts/FGroteskThin.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/FGroteskThin.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'FGrotesk';
  src: url('assets/fonts/FGroteskBook.eot');
  src:
    url('assets/fonts/FGroteskBook.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/FGroteskBook.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'WarnockProBold';
  src: url('assets/fonts/WarnockPro-BoldDisp.eot');
  src:
    url('assets/fonts/WarnockPro-BoldDisp.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/WarnockPro-BoldDisp.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'WarnockProLight';
  src: url('assets/fonts/WarnockPro-LightDisp.eot');
  src:
    url('assets/fonts/WarnockPro-LightDisp.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/WarnockPro-LightDisp.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}