$gutter-mobile: 2vw;
$gutter-tablet: 50px;
$gutter-desktop: 80px;

$neat-grid: (
  columns: 6,
  gutter: $gutter-mobile
);

$grid-m: (
  columns: 6,
  gutter: $gutter-tablet,
  media: 720px
);

$grid-l: (
  columns: 6,
  gutter: $gutter-desktop,
  media: 1120px
);

@import 'neat';

@mixin ba-grid-container {
  @include grid-container;
  max-width: rem(520px);
  margin: 0 auto;

  @include grid-media($grid-m) {
    @include grid-container;
    max-width: none;
    width: rem(640px);
    margin: 0 auto;
  }

  @include grid-media($grid-l) {
    @include grid-container;
    width: rem(1000px);
    margin: 0 auto;
  }
}

@mixin ba-grid-collapse {
  padding: rem(0 30px);

  @include grid-media($grid-m) {
    @include grid-collapse;
    padding: 0;
  }

  @include grid-media($grid-l) {
    @include grid-collapse;
  }
}
