$type-founders-font-family: 'FoundersGrotesk', 'Helvetica', 'Arial', sans-serif;
$type-warnock-bold-font-family: 'WarnockProBold', 'Times New Roman', Times, Baskerville, Georgia, serif;
$type-warnock-light-font-family: 'WarnockProLight', 'Times New Roman', Times, Baskerville, Georgia, serif;

@mixin type-size-leading($size, $leading: $size) {
  font-size: rem($size);
  line-height: rem($leading);
}

@mixin founders {
  font-family: $type-founders-font-family;
  font-weight: normal;
}

@mixin founders-bold {
  font-family: $type-founders-font-family;
  font-weight: 700;
}

@mixin founders-light {
  font-family: $type-founders-font-family;
  font-weight: 300;
}

@mixin warnock-bold {
  font-family: $type-warnock-bold-font-family;
  font-weight: 700;
}

@mixin warnock-light {
  font-family: $type-warnock-light-font-family;
  font-weight: 300;
}
